<div class="container">
    <form method="POST" action="/course/waitingTimes">
  
      <label for="startLatitude">startLatitude</label>
      <input type="text"  name="startLatitude" placeholder="startLatitude">
      <br />  
      <label for="startLongitude">startLongitude</label>
      <input type="text"  name="startLongitude" placeholder="startLongitude">
      <br />
      <label for="endLatitude">endLatitude</label>
      <input type="text"  name="endLatitude" placeholder="startLongitude">
      <br />
      <label for="endLongitude">endLongitude</label>
      <input type="text"  name="endLongitude" placeholder="endLongitude">
      <br />
      <label for="startFullAddress">startFullAddress</label>
      <input type="text"  name="startFullAddress" placeholder="startFullAddress">
      <br />
      <label for="startZipCode">startZipCode</label>
      <input type="text"  name="startZipCode" placeholder="startZipCode">
      <br />
      <label for="endFullAddress">endFullAddress</label>
      <input type="endFullAddress"  name="endFullAddress" placeholder="endFullAddress">
      <br />
      <input type="submit" value="Submit">
  
    </form>
  </div>