<form method="POST" action="/register">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"  name="username" class="form-control" placeholder="username">
    </div>
    <br />
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"  name="email" class="form-control" placeholder="email">
    </div>
    <br />
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"  name="password" class="form-control" placeholder="password">
    </div>
    <br />
    <div class="form-group">
      <label for="Confirmpassword">Confirm Password</label>
      <input type="password"  name="Confirmpassword" class="form-control" placeholder="Confirmpassword">
    </div>
    <br />
    <input class="btn btn-secondary" type="submit" value="Submit">
  </form>