<form method="POST" action="/register">
    <label for="username">username</label>
    <input type="text"  name="username" placeholder="username">
    <br />
    <label for="email">email</label>
    <input type="email"  name="email" placeholder="email">
    <br />
    <label for="password">password</label>
    <input type="password"  name="password" placeholder="password">
    <br />
    <label for="Confirmpassword">Confirm password</label>
    <input type="password"  name="Confirmpassword" placeholder="Confirmpassword">
    <br />
    <input type="submit" value="Submit">

  </form>